In [1]:
import pandas as pd
import sqlite3 as sql
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path = os.getcwd()
path = os.path.dirname(path)
path = os.path.join(path,'data/understat/understat.db')

In [16]:
con = sql.connect(path)

test = pd.read_sql("""SELECT player_stats.*
                      FROM player_stats
                      WHERE player_stats.name =  'Declan Rice'
                      LIMIT 10;""",con)
con.close()
test

,player_id,name,season,position,games,goals,shots,time,xG,assists,xA,key_passes,team,yellow,red,npg,npxG,xGChain,xGBuildup
0,5553,Declan Rice,2024,MC,4,0,3,319,0.173514,0,0.571090,2,Arsenal,2,1,0,0.173514,1.758567,1.057255
1,5553,Declan Rice,2023,MC,38,7,58,3256,3.186094,8,5.895036,47,Arsenal,5,0,7,3.186094,19.678101,16.131324
2,5553,Declan Rice,2022,DMC,37,4,36,3268,2.234948,1,2.338052,36,West Ham,5,0,4,1.473779,10.850467,8.603919
3,5553,Declan Rice,2021,DMC,36,1,26,3175,1.044251,4,1.555867,23,West Ham,8,0,1,1.044251,15.582120,14.247516
4,5553,Declan Rice,2020,DMC,32,2,28,2880,3.191765,1,1.978934,23,West Ham,2,0,1,1.669428,10.661636,9.188757
5,5553,Declan Rice,2019,DMC,38,1,31,3420,1.266390,3,1.306304,22,West Ham,6,0,1,1.266390,8.693384,7.636570
6,5553,Declan Rice,2018,DMC,34,2,22,3009,1.233570,0,0.642966,9,West Ham,4,0,2,1.233570,8.087485,7.640720
7,5553,Declan Rice,2017,Sub,26,0,5,1419,0.233927,0,0.090773,2,West Ham,1,0,0,0.233927,1.238096,1.034031
8,5553,Declan Rice,2016,Sub,1,0,0,1,0.000000,0,0.000000,0,West Ham,0,0,0,0.000000,0.077354,0.077354

In [39]:
# Connect to the sqlite3 database file.  
con = sql.connect(path)

# read the .db file from the specified SQL commands
declan = pd.read_sql("""SELECT player_stats.name AS name,
                                game_stats.league AS league,
                                avg(player_stats.xG) AS avg_xG,
                                avg(player_stats.goals) AS avg_goals,
                                player_stats.season AS season,
                                player_stats.team
                          FROM player_stats
                          LEFT JOIN game_stats ON game_stats.club_name = player_stats.team
                          WHERE name = 'Declan Rice'
                          GROUP BY team,player_stats.season
                          ORDER BY player_stats.season
                          LIMIT 10;""",con)

#'SELECT * FROM players' says that we are selecting all the columns from the players table, and LIMIT 10 just limits it
# to just the first 10

# We need to close the connection
con.close()

declan

          name league    avg_xG  avg_goals  season      team
0  Declan Rice    EPL  0.000000        0.0    2016  West Ham
1  Declan Rice    EPL  0.233927        0.0    2017  West Ham
2  Declan Rice    EPL  1.233570        2.0    2018  West Ham
3  Declan Rice    EPL  1.266390        1.0    2019  West Ham
4  Declan Rice    EPL  3.191765        2.0    2020  West Ham
5  Declan Rice    EPL  1.044251        1.0    2021  West Ham
6  Declan Rice    EPL  2.234948        4.0    2022  West Ham
7  Declan Rice    EPL  3.186094        7.0    2023   Arsenal
8  Declan Rice    EPL  0.173514        0.0    2024   Arsenal

In [38]:
# Connect to the sqlite3 database file.  
con = sql.connect(path)

# read the .db file from the specified SQL commands
player = pd.read_sql("""SELECT player_stats.name AS name,
                                player_stats.position,
                                game_stats.league AS league,
                                avg(player_stats.xG) AS avg_xG,
                                avg(player_stats.goals) AS avg_goals,
                                player_stats.season AS season,
                                player_stats.team
                          FROM player_stats
                          LEFT JOIN game_stats ON game_stats.club_name = player_stats.team
                          GROUP BY name, player_stats.season
                          ORDER BY name, player_stats.season
                          LIMIT 30;""",con)

#'SELECT * FROM players' says that we are selecting all the columns from the players table, and LIMIT 10 just limits it
# to just the first 10

# We need to close the connection
con.close()

player

,name,position,league,avg_xG,avg_goals,season,team
0,Aaron Ciammaglichella,Sub,Serie A,0.000000,0.000000,2024,Torino
1,Aaron Connolly,Sub,EPL,4.553528,3.000000,2019,Brighton
2,Aaron Connolly,Sub,EPL,4.464138,2.000000,2020,Brighton
3,Aaron Connolly,Sub,EPL,0.599489,0.000000,2021,Brighton
4,Aaron Cresswell,DL,EPL,1.242633,2.000000,2014,West Ham
5,Aaron Cresswell,DL,EPL,1.092563,2.000000,2015,West Ham
6,Aaron Cresswell,ML,EPL,0.585906,0.000000,2016,West Ham
7,Aaron Cresswell,Sub,EPL,0.674735,1.000000,2017,West Ham
8,Aaron Cresswell,DL,EPL,0.419239,0.000000,2018,West Ham
9,Aaron Cresswell,DL,EPL,1.032539,3.000000,2019,West Ham
10,Aaron Cresswell,DL,EPL,0.883464,0.000000,2020,West Ham
11,Aaron Cresswell,DL,EPL,0.912433,2.000000,2021,West Ham
12,Aaron Cresswell,DL,EPL,0.419036,0.000000,2022,West Ham
13,Aaron Cresswell,DL,EPL,0.000000,0.000000,2023,West Ham
14,Aaron Cresswell,Sub,EPL,0.000000,0.000000,2024,West Ham
15,Aaron Hickey,DL,Serie A,0.038924,0.000000,2020,Bologna
16,Aaron Hickey,DL,Serie A,0.728398,5.000000,2021,Bologna
17,Aaron Hickey,DR,EPL,0.316713,0.000000,2022,Brentford
18,Aaron Hickey,DR,EPL,0.193487,0.000000,2023,Brentford
19,Aaron Hunt,AMC,Bundesliga,1.129579,2.000000,2014,Wolfsburg
20,Aaron Hunt,AMC,Bundesliga,0.587947,0.283333,2015,Hamburger SV
21,Aaron Hunt,DMC,Bundesliga,2.691589,4.000000,2016,Hamburger SV
22,Aaron Hunt,Sub,Bundesliga,2.605502,3.000000,2017,Hamburger SV
23,Aaron Lennon,MR,EPL,0.609852,1.000000,2014,Everton
24,Aaron Lennon,Sub,EPL,2.226095,5.000000,2015,Everton
25,Aaron Lennon,Sub,EPL,0.275228,0.000000,2016,Everton
26,Aaron Lennon,ML,EPL,0.321431,0.000000,2017,Burnley
27,Aaron Lennon,MR,EPL,0.915638,1.000000,2018,Burnley
28,Aaron Lennon,Sub,EPL,0.024231,0.000000,2019,Burnley
29,Aaron Lennon,Sub,EPL,1.037669,2.000000,2021,Burnley