In [16]:
import pandas as pd
import sqlite3 as sql
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [17]:
path = os.getcwd()
path = os.path.dirname(path)
path = os.path.join(path,'data/understat/understat_game_data/understat_lineup_game_stats.db')

In [47]:
con = sql.connect(path)

lineup = pd.read_sql("""SELECT *
                        FROM lineup_stats
                        LIMIT 20;""",con)
con.close()
display(lineup.columns)
lineup.head()

Index(['match_id', 'goals', 'own_goals', 'shots', 'xG', 'time', 'player_id',
       'team_id', 'position', 'player', 'h_a', 'yellow_card', 'red_card',
       'roster_in', 'roster_out', 'key_passes', 'assists', 'xA', 'xGChain',
       'xGBuildup', 'positionOrder'],
      dtype='object')

,match_id,goals,own_goals,shots,xG,time,player_id,team_id,position,player,...,yellow_card,red_card,roster_in,roster_out,key_passes,assists,xA,xGChain,xGBuildup,positionOrder
0,81,0,0,0,0.0,90,560,89,GK,Sergio Romero,...,0,0,0,0,0,0,0.000000,0.000000,0.000000,1
1,81,0,0,0,0.0,82,557,89,DR,Matteo Darmian,...,0,0,620393,0,1,0,0.106513,0.106513,0.106513,2
2,81,0,0,0,0.0,90,628,89,DC,Chris Smalling,...,0,0,0,0,0,0,0.000000,0.106513,0.106513,3
3,81,0,0,0,0.0,90,548,89,DC,Daley Blind,...,0,0,0,0,0,0,0.000000,0.127738,0.127738,3
4,81,0,0,0,0.0,90,1006,89,DL,Luke Shaw,...,0,0,0,0,0,0,0.000000,0.021225,0.021225,4

In [97]:
con = sql.connect(path)

game_stats= pd.read_sql("""SELECT *
                            FROM general_game_stats
                        LIMIT 10;""",con)
con.close()
display(game_stats.columns)
game_stats.head()

Index(['id', 'fid', 'h_id', 'a_id', 'date', 'league_id', 'season', 'h_goals',
       'a_goals', 'team_h', 'team_a', 'h_xg', 'a_xg', 'h_w', 'h_d', 'h_l',
       'league', 'h_shot', 'a_shot', 'h_shotOnTarget', 'a_shotOnTarget',
       'h_deep', 'a_deep', 'h_ppda', 'a_ppda'],
      dtype='object')

,id,fid,h_id,a_id,date,league_id,season,h_goals,a_goals,team_h,...,h_l,league,h_shot,a_shot,h_shotOnTarget,a_shotOnTarget,h_deep,a_deep,h_ppda,a_ppda
0,81,958431,89,82,2015-08-08 15:45:00,1,2015,1,0,Manchester United,...,0.3236,EPL,9,9,1,4,4,10,13.8261,8.2188
1,82,958427,73,71,2015-08-08 18:00:00,1,2015,0,1,Bournemouth,...,0.2958,EPL,11,7,2,3,11,2,6.9000,11.8462
2,83,958429,72,90,2015-08-08 18:00:00,1,2015,2,2,Everton,...,0.2675,EPL,10,11,5,5,5,4,6.6500,17.1579
3,84,958430,75,77,2015-08-08 18:00:00,1,2015,4,2,Leicester,...,0.1521,EPL,19,11,8,5,5,6,10.8800,9.5556
4,85,958433,79,78,2015-08-08 18:00:00,1,2015,1,3,Norwich,...,0.6380,EPL,17,11,6,7,5,10,5.7368,10.6250

In [20]:
con = sql.connect(path)

game_events = pd.read_sql("""SELECT *
                                FROM game_events
                                LIMIT 10;""",con)
con.close()
game_events.head()

,id,minute,result,X,Y,xG,player,h_a,player_id,situation,season,shotType,match_id,h_team,a_team,h_goals,a_goals,date,player_assisted,lastAction
0,545909,27,BlockedShot,0.794,0.421,0.104347,Juan Mata,h,554,DirectFreekick,2015,LeftFoot,81,Manchester United,Tottenham,1,0,2015-08-08 15:45:00,None,Standard
1,545910,27,BlockedShot,0.860,0.627,0.064342,Memphis Depay,h,555,SetPiece,2015,RightFoot,81,Manchester United,Tottenham,1,0,2015-08-08 15:45:00,Ashley Young,Pass
2,545911,35,BlockedShot,0.843,0.333,0.057157,Juan Mata,h,554,OpenPlay,2015,LeftFoot,81,Manchester United,Tottenham,1,0,2015-08-08 15:45:00,Wayne Rooney,Pass
3,545912,35,MissedShots,0.848,0.533,0.092141,Juan Mata,h,554,OpenPlay,2015,LeftFoot,81,Manchester United,Tottenham,1,0,2015-08-08 15:45:00,None,Tackle
4,545913,40,BlockedShot,0.812,0.707,0.035742,Memphis Depay,h,555,OpenPlay,2015,RightFoot,81,Manchester United,Tottenham,1,0,2015-08-08 15:45:00,Michael Carrick,BallRecovery

In [22]:
#Lets look at the most recent season games in the Premier League
con = sql.connect(path)

EPL_24 = pd.read_sql("""SELECT game.id,
                                game.season,
                                game.date,
                                game.team_h,
                                game.team_a,
                                game.league
                            FROM general_game_stats AS game
                            WHERE game.season='2024' AND game.league='EPL'
                                AND (game.team_h='Arsenal' OR game.team_a='Arsenal')
                            ;""",con)
con.close()
EPL_24

,id,season,date,team_h,team_a,league
0,26604,2024,2024-08-17 14:00:00,Arsenal,Wolverhampton Wanderers,EPL
1,26618,2024,2024-08-24 16:30:00,Aston Villa,Arsenal,EPL
2,26622,2024,2024-08-31 11:30:00,Arsenal,Brighton,EPL
3,26640,2024,2024-09-15 13:00:00,Tottenham,Arsenal,EPL
4,26651,2024,2024-09-22 15:30:00,Manchester City,Arsenal,EPL
5,26655,2024,2024-09-28 14:00:00,Arsenal,Leicester,EPL

In [45]:
con = sql.connect(path)

a_m_events = pd.read_sql("""SELECT events.minute,
                                    events.result,
                                    events.xG AS event_xG,
                                    events.player,
                                    events.situation,
                                    player.xG AS total_xG
                                FROM game_events AS events
                                JOIN lineup_stats AS player ON player.player_id = events.player_id
                                WHERE events.match_id = '26651' and player.match_id='26651'
                                ORDER BY events.minute;""",con)
con.close()
a_m_events

,minute,result,event_xG,player,situation,total_xG
0,6,MissedShots,0.319162,Ilkay GÃ¼ndogan,OpenPlay,0.375457
1,8,Goal,0.328822,Erling Haaland,OpenPlay,0.829185
2,14,ShotOnPost,0.056295,Ilkay GÃ¼ndogan,DirectFreekick,0.375457
3,21,Goal,0.018396,Riccardo Calafiori,OpenPlay,0.018396
4,29,SavedShot,0.016400,Kyle Walker,OpenPlay,0.083202
5,34,BlockedShot,0.025061,JÃ©remy Doku,OpenPlay,0.050799
6,37,MissedShots,0.481347,Gabriel,FromCorner,1.078673
7,41,MissedShots,0.095611,Leandro Trossard,OpenPlay,0.095611
8,45,Goal,0.597327,Gabriel,FromCorner,1.078673
9,47,SavedShot,0.051467,Erling Haaland,OpenPlay,0.829185
10,48,MissedShots,0.034748,Mateo Kovacic,OpenPlay,0.142192
11,52,MissedShots,0.028006,RÃºben Dias,OpenPlay,0.152330
12,54,BlockedShot,0.025913,SÃ¡vio,OpenPlay,0.041721
13,56,BlockedShot,0.023024,Manuel Akanji,FromCorner,0.041025
14,56,SavedShot,0.019393,Kyle Walker,FromCorner,0.083202
15,58,SavedShot,0.271000,Erling Haaland,FromCorner,0.829185
16,58,MissedShots,0.394877,Bernardo Silva,FromCorner,0.394877
17,60,BlockedShot,0.029621,Kyle Walker,OpenPlay,0.083202
18,61,SavedShot,0.047684,Josko Gvardiol,FromCorner,0.088360
19,67,BlockedShot,0.025739,JÃ©remy Doku,OpenPlay,0.050799
20,68,BlockedShot,0.018001,Manuel Akanji,OpenPlay,0.041025
21,68,MissedShots,0.015808,SÃ¡vio,OpenPlay,0.041721
22,71,BlockedShot,0.021665,RÃºben Dias,OpenPlay,0.152330
23,74,BlockedShot,0.027217,Mateo Kovacic,OpenPlay,0.142192
24,75,BlockedShot,0.017788,Kyle Walker,OpenPlay,0.083202
25,75,SavedShot,0.017692,RÃºben Dias,OpenPlay,0.152330
26,76,BlockedShot,0.065985,Erling Haaland,OpenPlay,0.829185
27,77,MissedShots,0.062080,Phil Foden,OpenPlay,0.094677
28,78,MissedShots,0.029654,Mateo Kovacic,OpenPlay,0.142192
29,84,MissedShots,0.032141,RÃºben Dias,OpenPlay,0.152330
30,86,SavedShot,0.040675,Josko Gvardiol,OpenPlay,0.088360
31,88,BlockedShot,0.052827,RÃºben Dias,OpenPlay,0.152330
32,88,SavedShot,0.079816,Erling Haaland,OpenPlay,0.829185
33,92,SavedShot,0.032095,Erling Haaland,OpenPlay,0.829185
34,95,BlockedShot,0.032597,Phil Foden,OpenPlay,0.094677
35,96,SavedShot,0.091427,Kai Havertz,OpenPlay,0.091427
36,97,BlockedShot,0.050573,Mateo Kovacic,FromCorner,0.142192
37,97,Goal,0.569062,John Stones,FromCorner,0.569062

In [49]:
display(lineup.columns)
con = sql.connect(path)

specific_lineup = pd.read_sql("""SELECT lineup.player,
                                        lineup.goals,
                                        lineup.shots,
                                        lineup.xG,
                                        lineup.position
                        FROM lineup_stats AS lineup
                        WHERE lineup.match_id = '26651';""",con)
con.close()
specific_lineup

Index(['match_id', 'goals', 'own_goals', 'shots', 'xG', 'time', 'player_id',
       'team_id', 'position', 'player', 'h_a', 'yellow_card', 'red_card',
       'roster_in', 'roster_out', 'key_passes', 'assists', 'xA', 'xGChain',
       'xGBuildup', 'positionOrder'],
      dtype='object')

                player  goals  shots        xG position
0              Ederson      0      0  0.000000       GK
1          Kyle Walker      0      4  0.083202       DR
2        Manuel Akanji      0      2  0.041025       DC
3           RÃºben Dias      0      5  0.152330       DC
4       Josko Gvardiol      0      2  0.088360       DL
5       Bernardo Silva      0      1  0.394877       MC
6                Rodri      0      0  0.000000       MC
7       Ilkay GÃ¼ndogan      0      2  0.375457       MC
8                SÃ¡vio      0      2  0.041721      FWR
9       Erling Haaland      1      6  0.829185       FW
10         JÃ©remy Doku      0      2  0.050799      FWL
11         John Stones      1      1  0.569062      Sub
12       Jack Grealish      0      0  0.000000      Sub
13       Mateo Kovacic      0      4  0.142192      Sub
14          Phil Foden      0      2  0.094677      Sub
15          David Raya      0      0  0.000000       GK
16      JurriÃ«n Timber      0      0  0.000000       DR
17      William Saliba      0      0  0.000000       DC
18             Gabriel      1      2  1.078673       DC
19  Riccardo Calafiori      1      1  0.018396       DL
20         Bukayo Saka      0      0  0.000000       MR
21       Thomas Partey      0      0  0.000000       MC
22         Declan Rice      0      0  0.000000       MC
23  Gabriel Martinelli      0      0  0.000000       ML
24    Leandro Trossard      0      1  0.095611       FW
25         Kai Havertz      0      1  0.091427       FW
26       Gabriel Jesus      0      0  0.000000      Sub
27           Ben White      0      0  0.000000      Sub
28        Jakub Kiwior      0      0  0.000000      Sub
29  Myles Lewis-Skelly      0      0  0.000000      Sub

In [95]:
# I want to get the club stats with their ID, so it is easier to access in another table.
display(game_stats.columns)
con = sql.connect(path)

clubs= pd.read_sql("""SELECT club_id,
                            club,
                             league_id,
                            league,
                            season,
                            SUM(win) AS wins,
                            SUM(draw) AS draws,
                            SUM(loss) AS losses, 
                            SUM(win*3 + draw*1) AS pts,
                            AVG(xG) as avg_xG,
                            SUM(goals) AS total_goals,
                            SUM(goals_cond) AS total_goals_cond
                        FROM (
                                SELECT  h_id AS club_id,
                                        team_h AS club,
                                        league_id,
                                        league,
                                        season,
                                        h_goals AS goals,
                                        h_xg AS xG,
                                        CASE WHEN h_goals>a_goals THEN 1 ELSE 0 END AS win,
                                        CASE WHEN h_goals<a_goals THEN 1 ELSE 0 END AS loss,
                                        CASE WHEN h_goals = a_goals THEN 1 ELSE 0 END AS draw,
                                        a_goals AS goals_cond
                                FROM general_game_stats

                                UNION ALL

                                SELECT  a_id AS club_id,
                                        team_a AS club,
                                        league_id,
                                        league,
                                        season,
                                        a_goals AS goals,
                                        a_xg AS xG,
                                        CASE WHEN h_goals<a_goals THEN 1 ELSE 0 END AS win,
                                        CASE WHEN h_goals>a_goals THEN 1 ELSE 0 END AS loss,
                                        CASE WHEN h_goals = a_goals THEN 1 ELSE 0 END AS draw,
                                        h_goals AS goals_cond
                                FROM general_game_stats
                   
                                ) AS combined_teams
                            
                            GROUP BY season,club_id
                            
                            ORDER BY season;""",con)
con.close()

clubs.head(50)

#This table was integrated into the database as a easy way to access it

Index(['h_w', 'h_d', 'h_l'], dtype='object')

,club_id,club,league_id,league,season,wins,draws,losses,pts,avg_xG,total_goals,total_goals_cond
0,71,Aston Villa,1,EPL,2014,10,8,20,38,0.871123,31,57
1,72,Everton,1,EPL,2014,12,11,15,47,1.181268,48,50
2,74,Southampton,1,EPL,2014,18,6,14,60,1.446465,54,33
3,75,Leicester,1,EPL,2014,11,8,19,41,1.268590,46,55
4,76,West Bromwich Albion,1,EPL,2014,11,11,16,44,1.016519,38,51
5,77,Sunderland,1,EPL,2014,7,17,14,38,0.985425,31,53
6,78,Crystal Palace,1,EPL,2014,13,9,16,48,1.177807,47,51
7,80,Chelsea,1,EPL,2014,26,9,3,87,1.806403,73,32
8,81,West Ham,1,EPL,2014,12,11,15,47,1.228611,44,47
9,82,Tottenham,1,EPL,2014,19,7,12,64,1.378560,58,53
10,83,Arsenal,1,EPL,2014,22,9,7,75,1.836910,71,36
11,84,Swansea,1,EPL,2014,16,8,14,56,1.076348,46,49
12,85,Stoke,1,EPL,2014,15,9,14,54,1.217384,48,45
13,86,Newcastle United,1,EPL,2014,10,9,19,39,1.058458,40,63
14,87,Liverpool,1,EPL,2014,18,8,12,62,1.360453,52,48
15,88,Manchester City,1,EPL,2014,24,7,7,79,1.995143,83,38
16,89,Manchester United,1,EPL,2014,20,10,8,70,1.426496,62,37
17,91,Hull,1,EPL,2014,8,11,19,35,0.862922,33,51
18,92,Burnley,1,EPL,2014,7,12,19,33,1.036122,28,53
19,94,Verona,2,Serie A,2014,11,13,14,46,1.233770,49,65
20,95,Roma,2,Serie A,2014,19,13,6,70,1.338254,54,31
21,96,Lazio,2,Serie A,2014,21,6,11,69,1.631480,71,38
22,98,Juventus,2,Serie A,2014,26,9,3,87,1.554659,72,24
23,99,Udinese,2,Serie A,2014,10,11,17,41,0.917338,43,56
24,100,Palermo,2,Serie A,2014,12,13,13,49,1.446654,53,55
25,101,Genoa,2,Serie A,2014,16,11,11,59,1.508463,62,47
26,102,Sampdoria,2,Serie A,2014,13,17,8,56,1.252244,48,42
27,104,Sassuolo,2,Serie A,2014,12,13,13,49,1.129330,49,57
28,105,Napoli,2,Serie A,2014,18,9,11,63,1.697247,70,54
29,106,Inter,2,Serie A,2014,14,13,11,55,1.504429,59,48
30,107,Atalanta,2,Serie A,2014,7,16,15,37,1.077295,38,57
31,108,Empoli,2,Serie A,2014,8,18,12,42,1.306919,46,52
32,109,Chievo,2,Serie A,2014,10,13,15,43,0.868780,28,41
33,110,Fiorentina,2,Serie A,2014,18,10,10,64,1.596595,61,46
34,111,AC Milan,2,Serie A,2014,13,13,12,52,1.238751,56,50
35,113,Torino,2,Serie A,2014,14,12,12,54,1.362600,48,45
36,116,Cagliari,2,Serie A,2014,8,10,20,34,1.418866,48,68
37,117,Bayern Munich,3,Bundesliga,2014,25,4,5,79,1.947228,80,18
38,118,Hamburger SV,3,Bundesliga,2014,9,8,17,35,0.966446,25,50
39,119,Bayer Leverkusen,3,Bundesliga,2014,17,10,7,61,1.445756,62,37
40,120,Hoffenheim,3,Bundesliga,2014,12,8,14,44,1.469502,49,55
41,121,Augsburg,3,Bundesliga,2014,15,4,15,49,1.291521,43,43
42,122,Hertha Berlin,3,Bundesliga,2014,9,8,17,35,0.960483,36,52
43,123,Werder Bremen,3,Bundesliga,2014,11,10,13,43,1.255110,50,65
44,124,Schalke 04,3,Bundesliga,2014,13,9,12,48,1.213498,42,40
45,125,Mainz 05,3,Bundesliga,2014,9,13,12,40,1.291538,45,47
46,128,Hannover 96,3,Bundesliga,2014,9,10,15,37,1.071442,40,56
47,129,Borussia Dortmund,3,Bundesliga,2014,13,7,14,46,1.584221,47,42
48,130,Borussia M.Gladbach,3,Bundesliga,2014,19,9,6,66,1.521811,53,26
49,131,Wolfsburg,3,Bundesliga,2014,20,9,5,69,1.716110,72,38

,club_id,club,league_id,league,season,wins,draws,losses,pts,avg_xG,total_goals,total_goals_cond
0,71,Aston Villa,1,EPL,2014,10,8,20,38,0.871123,31,57
1,72,Everton,1,EPL,2014,12,11,15,47,1.181268,48,50
2,74,Southampton,1,EPL,2014,18,6,14,60,1.446465,54,33
3,75,Leicester,1,EPL,2014,11,8,19,41,1.268590,46,55
4,76,West Bromwich Albion,1,EPL,2014,11,11,16,44,1.016519,38,51
5,77,Sunderland,1,EPL,2014,7,17,14,38,0.985425,31,53
6,78,Crystal Palace,1,EPL,2014,13,9,16,48,1.177807,47,51
7,80,Chelsea,1,EPL,2014,26,9,3,87,1.806403,73,32
8,81,West Ham,1,EPL,2014,12,11,15,47,1.228611,44,47
9,82,Tottenham,1,EPL,2014,19,7,12,64,1.378560,58,53
10,83,Arsenal,1,EPL,2014,22,9,7,75,1.836910,71,36
11,84,Swansea,1,EPL,2014,16,8,14,56,1.076348,46,49
12,85,Stoke,1,EPL,2014,15,9,14,54,1.217384,48,45
13,86,Newcastle United,1,EPL,2014,10,9,19,39,1.058458,40,63
14,87,Liverpool,1,EPL,2014,18,8,12,62,1.360453,52,48
15,88,Manchester City,1,EPL,2014,24,7,7,79,1.995143,83,38
16,89,Manchester United,1,EPL,2014,20,10,8,70,1.426496,62,37
17,91,Hull,1,EPL,2014,8,11,19,35,0.862922,33,51
18,92,Burnley,1,EPL,2014,7,12,19,33,1.036122,28,53
19,94,Verona,2,Serie A,2014,11,13,14,46,1.233770,49,65
20,95,Roma,2,Serie A,2014,19,13,6,70,1.338254,54,31
21,96,Lazio,2,Serie A,2014,21,6,11,69,1.631480,71,38
22,98,Juventus,2,Serie A,2014,26,9,3,87,1.554659,72,24
23,99,Udinese,2,Serie A,2014,10,11,17,41,0.917338,43,56
24,100,Palermo,2,Serie A,2014,12,13,13,49,1.446654,53,55
25,101,Genoa,2,Serie A,2014,16,11,11,59,1.508463,62,47
26,102,Sampdoria,2,Serie A,2014,13,17,8,56,1.252244,48,42
27,104,Sassuolo,2,Serie A,2014,12,13,13,49,1.129330,49,57
28,105,Napoli,2,Serie A,2014,18,9,11,63,1.697247,70,54
29,106,Inter,2,Serie A,2014,14,13,11,55,1.504429,59,48
30,107,Atalanta,2,Serie A,2014,7,16,15,37,1.077295,38,57
31,108,Empoli,2,Serie A,2014,8,18,12,42,1.306919,46,52
32,109,Chievo,2,Serie A,2014,10,13,15,43,0.868780,28,41
33,110,Fiorentina,2,Serie A,2014,18,10,10,64,1.596595,61,46
34,111,AC Milan,2,Serie A,2014,13,13,12,52,1.238751,56,50
35,113,Torino,2,Serie A,2014,14,12,12,54,1.362600,48,45
36,116,Cagliari,2,Serie A,2014,8,10,20,34,1.418866,48,68
37,117,Bayern Munich,3,Bundesliga,2014,25,4,5,79,1.947228,80,18
38,118,Hamburger SV,3,Bundesliga,2014,9,8,17,35,0.966446,25,50
39,119,Bayer Leverkusen,3,Bundesliga,2014,17,10,7,61,1.445756,62,37
40,120,Hoffenheim,3,Bundesliga,2014,12,8,14,44,1.469502,49,55
41,121,Augsburg,3,Bundesliga,2014,15,4,15,49,1.291521,43,43
42,122,Hertha Berlin,3,Bundesliga,2014,9,8,17,35,0.960483,36,52
43,123,Werder Bremen,3,Bundesliga,2014,11,10,13,43,1.255110,50,65
44,124,Schalke 04,3,Bundesliga,2014,13,9,12,48,1.213498,42,40
45,125,Mainz 05,3,Bundesliga,2014,9,13,12,40,1.291538,45,47
46,128,Hannover 96,3,Bundesliga,2014,9,10,15,37,1.071442,40,56
47,129,Borussia Dortmund,3,Bundesliga,2014,13,7,14,46,1.584221,47,42
48,130,Borussia M.Gladbach,3,Bundesliga,2014,19,9,6,66,1.521811,53,26
49,131,Wolfsburg,3,Bundesliga,2014,20,9,5,69,1.716110,72,38